.DS_Store

# Android studio project file
/*/*.iml
/*.iml

# Gradle files
/.gradle/
/build/

# idea folder
/.idea/

# Local configuration file (sdk path, etc)
/local.properties

# Fabric appSecrit
fabric.properties

# inspect
.buildProfile/

# buck & OkBuck
/buck-out/
/.buckd/
/.okbuck/
/okbuck-scripts/

.buckconfig
**/BUCK