.DS_Store

# Android studio project file
AndroidTDDBootStrap.iml
app/app.iml
model/model.iml
# Gradle files
/.gradle/
/build/

# idea folder
/.idea/

# Local configuration file (sdk path, etc)
/local.properties

# Fabric appSecrit
fabric.properties
gradle.properties

# inspect
.buildProfile/

# buck & OkBuck
/buck-out/
/.buckd/
/.okbuck/
.buckconfig.local
**/BUCK
