.DS_Store

# Android studio project file
/*/*.iml
/*.iml

# Gradle files
/.gradle/
/build/

# idea folder
/.idea/

# Local configuration file (sdk path, etc)
/local.properties

# Fabric appSecrit
fabric.properties

# bintray secrets
bintray.properties

# inspect
.buildProfile/